name: Rust

on:
  push:
  pull_request:
  release:
    types: [published]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        os: [
            x86_64-unknown-linux-musl,
            arm-unknown-linux-musleabihf,
            x86_64-unknown-linux-gnu,
          ] # arm-unknown-linux-gnueabihf
        runs-on: [ubuntu-latest]
        include:
          - os: x86_64-apple-darwin
            runs-on: macos-latest # Apple needs to be compiled on an apple os
          - os: x86_64-pc-windows-gnu
            runs-on: windows-latest
            suffix: .exe # Windows has an .exe suffix

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.os }}

      - name: Install Deps
        if: contains(matrix.os, 'linux') && contains(matrix.os, 'gnu')
        run: sudo apt update && sudo apt install libudev-dev -y

      - name: Build Binary
        run: |
          if [[ "${{ contains(matrix.os, 'arm') }}" == "true" ]]; then
            cargo install cross
            cross build --target ${{ matrix.os }} --release
          else
            cargo build --target ${{ matrix.os }} --release
          fi

      - name: Save Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ka3005p-${{ matrix.os }}${{ matrix.suffix }}
          path: target/${{ matrix.os }}/release/ka3005p${{ matrix.suffix }}

      - name: Upload Binary
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v1
        with:
          files: target/${{ matrix.os }}/release/ka3005p${{ matrix.suffix }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Tests
        if: contains(matrix.os, 'x86_64')
        run: cargo test --target ${{ matrix.os }} --verbose

      - name: "Publish to crates.io"
        if: matrix.os == 'x86_64' && startsWith(github.ref, 'refs/tags/')
        run: cargo publish --token ${{ secrets.CRATES_IO }}

  clippy_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
          targets: x86_64-unknown-linux-musl
      - name: Run Clippy
        run: cargo clippy --all-features --target x86_64-unknown-linux-musl -- -D warnings

  rustfmt:
    name: rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: Check formatting
        run: |
          cargo fmt --all -- --check
